<%- include ('../partials/menu_logged') %>


<div class="container">
    <h1>Nowy trening</h1>
    
    <%- include ('../partials/messages') %>
    
    
    <form id="register" action="/workouts/coachNewWorkout" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Tytuł</label>
        <input
          type="name"
          name="title"
          placeholder="Wprowadź tytuł"
          value="<%= typeof title != 'undefined' ? title : '' %>"
          class="form-control"
          required="required"
        />
      
    </div>

    <div class="mb-3"> 
        <label for="description" class="form-label">Treść</label>
        <input
          type="description"
          name="description"
          placeholder="Wprowadź treść"
          value="<%= typeof description != 'undefined' ? description : '' %>"
          class="form-control"
          required="required"
        />
      </div>
    
      <div id="role" class="mb-3">
        <label for="emailPlayer" class="form-label">Wybierz zawodnika</label>
        <select id="emailPlayer" name="emailPlayer" class="form-control">
          <% players.forEach((player) => { %>
            <option value="<%= player.email %>"><%= player.name %></option>
          <% }) %>
        </select>
      </div>
    
      <% if(length > 0) { %>
      <button type="submit" class="btn btn-primary btn-block">
        Stwórz trening
      </button>
      <% } %>
    </form>
</div>